.navbar{
  background-color: #1695A3;
}

.navbar li{
  display: inline !important;
   padding: 10px 5px 0px 5px;
}

.navbar a:hover{
  color: #fff;
  background-color: #1695A3;
}

h1 {
color: orange;

}
